.cell{
    width: 50px;
    height: 35px;
    background-color: aqua;
    margin: 5px;
    padding: 10px;
    
}

#container{
    align-items: center;
}

#head{
    background-color: black;
    color: white;
    width: 280px;
    height: 100px;
    

    
}